*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #DFDFDF;
}


header {
    height: 15vh;
}
main{
    height: 75vh;
}
footer{
    height: 10vh;
}

button{
    width: 8rem;
    height: 2.5rem;
}
#logo{
    width: 11rem;
    height: 8rem;
}

header button{
    width: 3rem;
    height: 3rem;
    margin: 0 0.5rem;
    border: none;
}

header button img{
    width: 3rem;
    height: 3rem;
}
#analisis-imagenes{
    height: 18rem;
}
#analisis-imagenes p{
    border: 2px solid #870000;
    border-radius: 1rem;
    background-color: #fff;
}
#radar img{
    border: 10px solid #870000;
    border-radius: 2rem;
}

#sistema-critico img{
    width: 10rem;
    height: 10rem;
}
#detectionFeed {
    width: 320px;
    height: 240px;
    border: 8px solid #990000;
    border-radius: 25px;
    object-fit: cover;
}
